  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>
        <div class="newsMore">
          <ion-button (click)="launchMenu()" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
        <span class="text-primary"> {{counterNews + 1}}. </span>
        <span class="news-source-name">
          {{newsSingle.source.name}}
        </span>
      </ion-card-subtitle>
      <ion-card-title (click)="openBrowser()"> {{newsSingle.title}} </ion-card-title>
    </ion-card-header>

    <ion-img *ngIf="newsSingle.urlToImage" [src]="newsSingle.urlToImage" (click)="openBrowser()"></ion-img>

    <ion-card-content>
      {{newsSingle.description}}
    </ion-card-content>

  </ion-card>
