<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Example Download
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="URL" [(ngModel)]="downloadUrl"></ion-input>
  </ion-item>

  <ion-button (click)="downloadFile()" [disabled]="dowloadUrl === ''" expand="full">
    <ion-icon slot="start" name="download"></ion-icon>
    Click me
  </ion-button>

  <ion-row>
    <ion-col size="4">
      <ion-button (click)="downloadFile(pdfUrl)" expand="full">
        PDF
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="downloadFile(videoUrl)" expand="full">
        MP4
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="downloadFile(imageUrl)" expand="full">
        PNG
      </ion-button>
    </ion-col>

  </ion-row>
</ion-content>
