<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="recentsMovies">
  </app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Billboard</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="discoversMovies">
  </app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populates</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pars [movies]="discoversMovies">
  </app-slideshow-pars>

</ion-content>
